<div class="row">
  <div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
      <div class="x_title">
        <h2>Dados do perfil</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <% if @user.errors.any? %>
          <div class="alert alert-danger alert-dismissable ">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li>
                  <%= message %>
                </li>
                <% end %>
            </ul>
          </div>
          <% end %>
            <%= simple_form_for @user, url: users_backoffice_profile_path, html: {class:"form-horizontal form-label-left" , novalidate:'novalidate'} do |form| %>
              <div class="item form-group">
                <%= form.label :first_name, class:"col-form-label col-md-3 col-sm-3 label-align" %>
                <div class="col-md-6 col-sm-6 ">
                  <%= form.input :first_name, label:false, input_html: {class: 'form-control'} %>
                </div>
              </div>
              <div class="item form-group">
              <%= form.label :last_name, class:"col-form-label col-md-3 col-sm-3 label-align" %>
                <div class="col-md-6 col-sm-6 ">
                  <%= form.input :last_name, label:false, input_html: {class: 'form-control'} %>
                </div>
              </div>
              <div class="item form-group">
              <%= form.label :email, class:"col-form-label col-md-3 col-sm-3 label-align" %>
                <div class="col-md-6 col-sm-6 ">
                  <%= form.input :email, label:false, input_html: {class: 'form-control'}, disabled:true  %>
                </div>
              </div>

              <%= form.simple_fields_for :user_profile do |profile_form| %>

                <div class="item form-group">
                  <%= profile_form.label :zip_code, class:"col-form-label col-md-3 col-sm-3 label-align" %>
                    <div class="col-md-6 col-sm-6 ">
                        <div class="input-group mb-3">
                          <%= profile_form.input :zip_code, label:false, input_html: { class:'form-control', "aria-describedby":"button-addon2", type:"text" } %>
                          <%= link_to "Buscar", users_backoffice_zip_code_path, remote:true, class:"btn btn-outline-secondary", id: "zip-code-link" %>
                        </div>
                    </div>
                </div>

                <script>
                  let zip_code_input = document.getElementById("user_user_profile_attributes_zip_code")
                  var zip_code_link = document.getElementById("zip-code-link")

                  zip_code_input.addEventListener("change", function(){
                    zip_code_link.href = '<%= users_backoffice_zip_code_path %>/?zip_code='+zip_code_input.value
                  })
                </script>

                
                <div class="item form-group">
                  <%= profile_form.label :address, class:"col-form-label col-md-3 col-sm-3 label-align" %>
                  <div class="col-md-6 col-sm-6 ">
                    <%= profile_form.input :address, label:false, input_html: {class: 'form-control'} %>
                  </div>
                </div>
                
                <div class="item form-group">
                  <%= profile_form.label :gender, class:"col-form-label col-md-3 col-sm-3 label-align" %>
										<div class="col-md-6 col-sm-6 ">
											<div id="gender" class="btn-group" data-toggle="buttons">
											  <label class="btn <%= gender_select(@user, "M") %>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
													<%= profile_form.radio_button :gender, "M", class: 'join-btn', "data-parsley-multiple":"gender" %> &nbsp; Male &nbsp;
												</label>
												<label class="btn <%= gender_select(@user, "F")%>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
													<%= profile_form.radio_button :gender, "F", class: 'join-btn', "data-parsley-multiple":"gender" %> &nbsp; Female &nbsp;
												</label>
											</div>
										</div>
								</div>

                <%= javascript_tag do %>
                  let labels = document.querySelectorAll('div#gender label')
                  
                  labels.forEach(label => {
                    label.addEventListener('click', () => {
                      label.classList.remove('btn-secondary')
                      label.classList.add('btn-primary')
                      labels.forEach(lbl => {
                        if(lbl !== label){
                          lbl.classList.remove('btn-primary')
                          lbl.classList.add('btn-secondary')
                        }
                      })
                    })
                  })
                <% end %> 


                <div class="item form-group">
                  <%= profile_form.label :birthdate, class:"col-form-label col-md-3 col-sm-3 label-align" %>
                  <div class="col-md-6 col-sm-6">
                    <%= profile_form.input :birthdate, 
                      value: (I18n.l(@user.user_profile.birthdate) unless @user.user_profile.birthdate.blank?),
                      as: :date, html5: true, input_html: {class: 'form-control'}, 
                      label: false %>
                  </div>
                </div>
                
              <% end %>

              <div class="item form-group">
                <%= form.label :password, class:"col-form-label col-md-3 col-sm-3 label-align" %>
                <div class="col-md-6 col-sm-6">
                  <%= form.input :password, input_html: {class: 'form-control'}, label:false %>
                </div>
              </div>

              <div class="item form-group">
                <%= form.label :password_confirmation, class:"col-form-label col-md-3 col-sm-3 label-align" %>
                <div class="col-md-6 col-sm-6">
                  <%= form.input :password_confirmation, input_html: {class: 'form-control'}, label:false %>
                </div>
              </div>
              
              <div class="ln_solid"></div>
              
              <div class="item form-group">
                <div class="col-md-6 col-sm-6 offset-md-3">
                  <%= form.submit :submit, class:"btn btn-success" %>
                </div>
              </div> 
              <% end %>
                <!-- </form> -->
      </div>
    </div>
  </div>
</div>