<h1><%= title %></h1>

<% if @question.errors.any? %>
  <div class="alert alert-danger alert-dismissible ">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="bd-example">
  <%= form_with(model: [:admins_backoffice, @question], local: true) do |form| %>

    <div class="form-group">
      <%= form.label :description %>
      <%= form.hidden_field :description, class: 'form-control', placeholder: t('text.placeholder_description', model: @question.model_name.human), rows: 5 %>
      <trix-editor input="question_description"></trix-editor>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <%= form.label :subject_id, class: "input-group-text" %>
      </div>
      <%= form.collection_select(:subject_id, @subjects, :id, :description, {}, { class: "custom-select" }) %>
    </div>

    <div id="answers">
      <%= form.fields_for :answers do |answer| %>
        <%= render partial: 'answer_fields', locals: {f: answer} %>
      <% end %>

      <%= link_to_add_association t('text.button_add_answer'), form, :answers %>
    </div>

    <button type="submit" class="btn btn-primary"><%= t('text.button_submit') %></button>
  <% end %>
</div>