<div class="jumbotron">
  <div class="col-sm-8 mx-auto">
    <% unless params[:term] %>
      <h3>Últimas perguntas cadastradas...</h3>
    <% else %>
      <h3><%= "Resultado para o termo \"#{params[:term]}\"..." %></h3>
    <% end%>
  </div>
</div>

<% @questions.each do |question| %>
  <%= form_with url: site_answer_path do |form| %>
    <div class="card">
      <div class="card-header">
        <%= question.description %>
      </div>
      <div class="card-body">
        <!-- <p class="card-text"></p> -->
        <ul>
          <% question.answers.each do |answer| %>
            <li style="list-style:none" >
              <div class="radio">
                <label>
                  <%= radio_button_tag 'answer_id', answer.id %>
                  <%= answer.description %>
                </label>
              </div>
            </li>
          <% end %>
          <li style="list-style:none">
            <%= form.submit "Responder", class:"btn btn-outline-dark" %>
          </li>
        </ul>
      </div>
    </div>
    <br>
  <% end %>
<% end %>
<div class="d-flex justify-content-center">
    <%= paginate @questions %>
</div>