<div>
  <a class="hiddenanchor" id="signin"></a>
  <div class="login_wrapper">
      <section class="login_content">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <h1> Change your password </h1>
          <%= f.hidden_field :reset_password_token %>
          <div>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: t("text.placeholder_password") %>
          </div>
          <div>
            <%= f.password_field :password_confirmation, autocomplete: "current-password", class: "form-control", placeholder: t("text.placeholder_password_confirm") %>
          </div>
          <div>
              <%= f.submit "Alterar senha", class:"btn btn-default submit",
                style:"float: none; margin-left:0px;" %>
          </div>

          <div class="clearfix"></div>

          <div class="separator">
            <div class="clearfix"></div>
            <br />

            <div>
              <h1><i class="fa fa-paw"></i> Time to Answer!</h1>
              <p>©2021 Matheus Martins</p>
            </div>
          </div>
        <% end %>
      </section>
  </div>
</div>


<%
=begin%>
 <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password" %>
  </div>
<% end %>

<%= render "users/shared/links" %> 
<%
=end%>
